<div id="poemsContainer">
  <div
    class="
      container
      mx-auto
      w-full
      mt-12
      px-4
      py-14
      sm:px-6
      bg-slate-300
      md:my-8 md:mt-0 md:w-1/2
      xl:px-12
    "
  >
    <div
      class="flex flex-col items-center justify-center space-y-6 text-center"
    >
      <h1 class="text-4xl font-bold tracking-normal sm:text-5xl lg:text-6xl">
        Poems Search
      </h1>
      <p class="max-w-screen-sm text-lg text-gray-600 sm:text-2xl">
        Hey there, This is a tool for you to search for poems you like or poems
        you reading currently.
      </p>

      <div
        class="
          flex
          w-full
          max-w-md
          flex-col
          items-center
          space-y-3
          sm:flex-row sm:space-y-0 sm:space-x-3
        "
      >
        <input
          type="text"
          #myTitle
          (keyup)="searchByAuthor(myTitle.value)"
          class="
            w-full
            rounded-md
            border
            bg-gray-50
            px-4
            py-2
            focus:outline-none focus:ring-2 focus:ring-blue-500
            disabled:cursor-not-allowed disabled:opacity-50
          "
          placeholder="poem name"
          (name)="(poemName)"
        />
        <button
          type="button"
          class="
            w-full
            rounded-md
            border border-blue-500
            bg-blue-500
            py-2
            px-6
            text-white
            transition
            hover:border-blue-600 hover:bg-blue-600
            focus:outline-none
            focus:ring-4
            focus:ring-blue-500
            focus:ring-opacity-50
            disabled:cursor-not-allowed
            disabled:opacity-50
            disabled:hover:border-blue-500
            disabled:hover:bg-blue-500
            sm:max-w-max
          "
          (click)="showAuth()"
        >
          Search
        </button>
      </div>
      <div>
        <div class="flex">
          <div class="mb-3 xl:w-96">
            <select
              class="
                form-select
                appearance-none
                block
                w-full
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding bg-no-repeat
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700
                focus:bg-white
                focus:border-blue-600
                focus:outline-none
              "
              [disabled]="!results"
            >
              <option selected>Poem Search Result</option>
              <option *ngFor="let result of results; index as i" value="i">
                {{ results[i] }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <form
        class="
          flex
          w-full
          max-w-md
          flex-col
          items-center
          space-y-3
          sm:flex-row sm:space-y-0 sm:space-x-3
        "
      >
        <input
          type="text"
          required=""
          class="
            w-full
            rounded-md
            border
            bg-gray-50
            px-4
            py-2
            focus:outline-none focus:ring-2 focus:ring-blue-500
            disabled:cursor-not-allowed disabled:opacity-50
          "
          placeholder="Author Name"
          value=""
        /><button
          type="submit"
          class="
            w-full
            rounded-md
            border border-blue-500
            bg-blue-500
            py-2
            px-6
            text-white
            transition
            hover:border-blue-600 hover:bg-blue-600
            focus:outline-none
            focus:ring-4
            focus:ring-blue-500
            focus:ring-opacity-50
            disabled:cursor-not-allowed
            disabled:opacity-50
            disabled:hover:border-blue-500
            disabled:hover:bg-blue-500
            sm:max-w-max
          "
        >
          Search
        </button>
      </form>
    </div>
  </div>
</div>
<span class="grid justify-items-center">
  <app-poem></app-poem>
</span>
