<div id="poemsContainer">
  <div
    class="
      container
      mx-auto
      w-full
      mt-12
      px-4
      py-14
      sm:px-6
      bg-slate-300
      md:my-8 md:mt-24 md:w-1/2
      xl:px-12
    "
  >
    <div class="sm:flex sm:flex-col justify-center space-y-6 text-center">
      <h1 class="text-4xl font-bold tracking-normal sm:text-5xl lg:text-6xl">
        Poems Search
      </h1>
      <p class="max-w-screen-sm text-lg text-gray-600 sm:text-2xl">
        Hey there, This is a tool for you to search for poems you like or poems
        you reading currently.
      </p>

      <div class="grid grid-row gap-4">
        <input
          type="text"
          #myAuthor
          (keyup)="searchByAuthor(myAuthor.value)"
          class="
            w-full
            rounded-md
            border
            bg-gray-50
            px-4
            py-2
            md:mb-5
            focus:outline-none focus:ring-2 focus:ring-blue-500
            disabled:cursor-not-allowed disabled:opacity-50
          "
          placeholder="Author Name"
          (name)="(poemName)"
        />
        <button
          type="button"
          class="
            w-full
            rounded-md
            border border-blue-500
            bg-blue-500
            py-2
            px-6
            text-white
            transition
            hover:border-blue-600 hover:bg-blue-600
            focus:outline-none
            focus:ring-4
            focus:ring-blue-500
            focus:ring-opacity-50
            disabled:cursor-not-allowed
            disabled:opacity-50
            disabled:hover:border-blue-500
            disabled:hover:bg-blue-500
          "
          (click)="showAuth()"
        >
          Search
        </button>
        <div class="justify-self-center">
          <div class="mb-3 xl:w-96">
            <ng-template [ngIf]="results">
              <select
                class="
                  form-select
                  appearance-none
                  block
                  w-11/12
                  py-1.5
                  text-center
                  font-normal
                  text-blue-500
                  bg-white bg-clip-padding bg-no-repeat
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  focus:text-gray-700
                  focus:bg-white
                  focus:border-blue-600
                  focus:outline-none
                "
                [disabled]="!results"
              >
                <option selected class="bg-green-300 border-2 border-green-400">
                  Poem Search Result
                </option>
                <option
                  *ngFor="let result of results; index as i"
                  value="i"
                  class="w-1/2 absolute"
                >
                  poem {{ i + 1 }}:{{ results[i] }}
                </option>
              </select>
            </ng-template>
          </div>
        </div>
        <!-- second search bt title -->
        <div class="grid grid-row gap-4">
          <input
            type="text"
            #myTitle
            (keyup)="searchByTitle(myTitle.value)"
            class="
              w-full
              rounded-md
              border
              bg-gray-50
              px-4
              md:mb-5
              py-2
              focus:outline-none focus:ring-2 focus:ring-blue-500
              disabled:cursor-not-allowed disabled:opacity-50
            "
            placeholder="Author Name"
            (name)="(poemName)"
          />
          <button
            type="button"
            class="
              w-full
              rounded-md
              border border-blue-500
              bg-blue-500
              py-2
              px-6
              text-white
              transition
              hover:border-blue-600 hover:bg-blue-600
              focus:outline-none
              focus:ring-4
              focus:ring-blue-500
              focus:ring-opacity-50
              disabled:cursor-not-allowed
              disabled:opacity-50
              disabled:hover:border-blue-500
              disabled:hover:bg-blue-500
            "
            (click)="showAuth()"
          >
            Search
          </button>
          <div class="justify-self-center">
            <div class="mb-3 xl:w-96">
              <ng-template [ngIf]="results2">
                <select
                  class="
                    form-select
                    appearance-none
                    block
                    w-11/12
                    py-1.5
                    text-center
                    font-normal
                    text-blue-500
                    bg-white bg-clip-padding bg-no-repeat
                    border border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    focus:text-gray-700
                    focus:bg-white
                    focus:border-blue-600
                    focus:outline-none
                  "
                  [disabled]="!results2"
                >
                  <option
                    selected
                    class="bg-green-300 border-2 border-green-400"
                  >
                    Poem Search Result
                  </option>
                  <option
                    *ngFor="let result of results2; index as i"
                    value="i"
                    class="w-1/2 absolute left-0 bottom-0 "
                  >
                    poem {{ i + 1 }}:{{ results2[i] }}
                  </option>
                </select>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="grid justify-items-center">
      <app-poem></app-poem>
    </span>
  </div>
</div>
